.home{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro{
    max-width: 450px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}
.home_img_contaier{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin-bottom: 1.25rem;
}
.home__name{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}
.home__title{
    font-size: var(--h3-font-size);
}
.home__scroll{
    position: absolute;
    bottom: 1rem;
    color: var(--primary);
    width: 100%;
    left: 0;
    display: flex;
    font-size: var(--h1-font-size);
    font-family: var(--font-bold);
    justify-content: center;
    align-items: center;
    transition: .3s;
    animation: rotate 1s ease forwards infinite;
}
@keyframes rotate{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
}

.shapes{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.shape{
    position: absolute;
}
.s1{
    right: 10%;
    bottom: 40%;
}


.s2{
    left: 18%;
    top: 30%;
}
.s3{
    left: 5%;
    bottom: 30%;
}
.s4{
    left: 2%;
    bottom: 10%;
}
.s5{
    right: 5%;
    bottom: 40%;
}
.s6{
    left: 36%;
    top: 10%;
}
.s7{
    right: 25%;
    top: 20%;
}
.s8{
    right: 24%;
    bottom: 20%;
}
.s9{
    right: 2%;
    top: 10%;
    
}